<li>
    <a href="{{#unlesspage 'index'}}{{root}}{{lang}}/{{/unlesspage}}#about">
        Was ist das Schnellmieten?
    </a>
</li>
<li>
    <a href="{{#unlesspage 'index'}}{{root}}{{lang}}/{{/unlesspage}}#araink">
        Unsere Preise
    </a>
</li>
<li>
    <a href="{{#unlesspage 'index'}}{{root}}{{lang}}/{{/unlesspage}}#gyik">
        FAQ
    </a>
</li>
<li>
    <a href="{{#unlesspage 'index'}}{{root}}{{lang}}/{{/unlesspage}}#viarent">
        Über uns
    </a>
</li>
<li>
    <a class="external" href="https://viarent.at/">
        Für Unternehmen
    </a>
</li>
