<li>
    <a href="{{#unlesspage 'index'}}{{root}}{{lang}}/{{/unlesspage}}#about">
        Fast rental
    </a>
</li>
<li>
    <a href="{{#unlesspage 'index'}}{{root}}{{lang}}/{{/unlesspage}}#araink">
        Prices
    </a>
</li>
<li>
    <a href="{{#unlesspage 'index'}}{{root}}{{lang}}/{{/unlesspage}}#gyik">
        FAQ
    </a>
</li>
<li>
    <a href="{{#unlesspage 'index'}}{{root}}{{lang}}/{{/unlesspage}}#viarent">
        About Us
    </a>
</li>
<li>
    <a class="external" href="https://viarent.eu/">
        For Companies
    </a>
</li>
