<?php global $theaudiencesources; ?>
<form id="reqform" class="viaform reqform" method="post" action="../rentavan/incominglead.php" data-abide novalidate>
    <div class="formstep">    
        <ul class="inputgrid wider">
            <li>
                <h3 class="formstep__title">Personal data</h3>
                <ul class="inputgrid">
                    <li class="full">
                        <label>
                            <input type="text" placeholder="Name*" required name="r_name">
                            <span class="fauxplaceholder">Name*</span>
                        </label>
                    </li>
                    <li>
                        <label>
                            <input type="email" placeholder="E-mail address*" pattern="email" required name="r_email">
                            <span class="fauxplaceholder">E-mail address*</span>
                        </label>
                    </li>
                    <li>
                        <label>
                            <input type="text" placeholder="Phone number*" required name="r_tel">
                            <span class="fauxplaceholder">Phone number*</span>
                        </label>
                    </li>
                </ul>
                <ul class="inputgrid">
                    <li class="third">
                        <label>
                            <input type="text" placeholder="ZIP*" required name="r_zip">
                            <span class="fauxplaceholder">ZIP*</span>
                        </label>
                    </li>
                    <li class="third">
                        <label>
                            <input type="text" placeholder="Municipality*" required name="r_city">
                            <span class="fauxplaceholder">Municipality*</span>
                        </label>
                    </li>
                    <li class="third">
                        <label>
                            <input type="text" placeholder="Street, house number..." name="r_address">
                            <span class="fauxplaceholder">Street, house number...</span>
                        </label>
                    </li>
                </ul>
            </li>
            <li>
                <h3 class="formstep__title">Other message</h3>
                <ul class="inputgrid">
                    <li>
                        <label>
                            <textarea rows="5" placeholder="Other message" name="r_message"></textarea>
                            <span class="fauxplaceholder">Other message</span>
                        </label>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="formstep">
        <h3 class="formstep__title">Choose the vehicle you want to rent!*</h3>
        <?php $titer=0; ?>
        <ul class="checkergrid">
        <?php while ($the_tariffs_1->have_posts()) : $the_tariffs_1->the_post();?>
        <?php setup_postdata( $post ); ?>
            <li>
                <label class="checkboxlabel" for="r_vehicle<?= $titer; ?>">
                    <input id="r_vehicle<?= $titer; ?>" type="checkbox" name="r_vehicle[]" value="<?php the_title(); ?>">
                    <?php the_title(); ?>
                </label>
            </li>
            <?php $titer++; ?>
        <?php endwhile; ?>
        <?php wp_reset_postdata(); ?>
        <?php while ($the_tariffs_2->have_posts()) : $the_tariffs_2->the_post();?>
        <?php setup_postdata( $post ); ?>
            <li>
                <label class="checkboxlabel" for="r_vehicle<?= $titer; ?>">
                    <input id="r_vehicle<?= $titer; ?>" type="checkbox" name="r_vehicle[]" value="<?php the_title(); ?>">
                    <?php the_title(); ?>
                </label>
            </li>
            <?php $titer++; ?>
        <?php endwhile; ?>
        <?php wp_reset_postdata(); ?>
        </ul>
    </div>

    <div class="formstep">
        <h3 class="formstep__title">How long would you like to rent?*</h3>
        <ul class="checkergrid">
            <li>
                <label class="checkboxlabel" for="r_time1">
                    <input id="r_time1" type="checkbox" name="r_time[]" value="1-3 days">
                    1-3 days
                </label>
            </li>
            <li>
                <label class="checkboxlabel" for="r_time2">
                    <input id="r_time2" type="checkbox" name="r_time[]" value="4-10 days">
                    4-10 days
                </label>
            </li>
            <li>
                <label class="checkboxlabel" for="r_time3">
                    <input id="r_time3" type="checkbox" name="r_time[]" value="11-30 days">
                    11-30 days
                </label>
            </li>
            <li>
                <label class="checkboxlabel" for="r_time4">
                    <input id="r_time4" type="checkbox" name="r_time[]" value="1-3 months">
                    1-3 months
                </label>
            </li>
            <li>
                <label class="checkboxlabel" for="r_time5">
                    <input id="r_time5" type="checkbox" name="r_time[]" value="4-6 months">
                    4-6 months
                </label>
            </li>
            <li>
                <label class="checkboxlabel" for="r_time6">
                    <input id="r_time6" type="checkbox" name="r_time[]" value="7-12 months">
                    7-12 months
                </label>
            </li>
        </ul>
    </div>
    <div class="formstep">
        <h3 class="formstep__title">How did you hear about us?</h3>
        <ul class="checkergrid">
            <?php foreach( $theaudiencesources as $key => $topic ) : ?>
                <li>
                    <label class="checkboxlabel" for="r-audiencescore-<?= $key; ?>">
                        <input id="r-audiencescore-<?= $key; ?>" type="radio" name="r_audiencesource" value="<?= __($topic,'viarent'); ?>" >
                        <?= __($topic,'viarent'); ?>
                    </label>
                </li>
            <?php endforeach; ?>
            <li></li>
        </ul>
    </div>
    <div class="formstep">
                <label class="checkboxlabel small" for="r_acceptgdpr">
                    <input id="r_acceptgdpr" type="checkbox" name="r_acceptgdpr" required>
                    By filling out the quotation request form I agree to <a href="https://endev.viarent.hu/privacy-policy/" target="_blank">Privacy Policy.</a>
                </label>
                <label class="checkboxlabel small" for="r_acceptmarketing">
                    <input id="r_acceptmarketing" type="checkbox" name="r_acceptmarketing">
                    I consent to receive inquiries for commercial and marketing purposes.
                </label>
    </div>
    <input type="hidden" name="r_human" value="2">
    <div class="formactions">
        <button id="reqformsubmit" class="button secondary large reqformsubmit" type="submit" data-progresstext="Send in progress" data-sendtext="Message sent">
            Send request for quotation
        </button>
    </div>
    <div id="reqformresult" class="formresults reqformresult"></div>
  </form>