<footer role="contentinfo" class="sitefooter">
    <ul class="footerwidgetgrid">
        <?php dynamic_sidebar('sidebar-footer'); ?>
    </ul>
    <div class="sitefooter__bottom">
        <?php if (get_field('assphone', 'option')) : ?>
        <div class="sitefooter__bottom__zero">
            <?php get_template_part('templates/assistancebanner'); ?>
        </div>
        <?php endif; ?>
        <div class="sitefooter__bottom__first">
            <p>&copy; <?= date('Y'); ?> <?php the_field('copyright', 'option') ?></p>
            <?php
                if (has_nav_menu('footer_bottom_navigation')) :
                    wp_nav_menu(['theme_location' => 'footer_bottom_navigation', 'menu_class' => 'footerminimenu']);
                endif;
            ?>
            <ul class="sociallist">
                <?php if ($surl=get_field('facebook', 'option')) :?>
                <li><a target="_blank" href="<?= $surl; ?>" class="socialbtn"><?= svginsert('facebook'); ?></a></li>
                <?php endif; ?>
                <?php if ($surl=get_field('instagram', 'option')) :?>
                <li><a target="_blank" href="<?= $surl; ?>" class="socialbtn"><?= svginsert('instagram'); ?></a></li>
                <?php endif; ?>
                <?php if ($surl=get_field('linkedin', 'option')) :?>
                <li><a target="_blank" href="<?= $surl; ?>" class="socialbtn"><?= svginsert('linkedin'); ?></a></li>
                <?php endif; ?>
            </ul>
        </div>
        <?php if ($footerlogos = explode(',', get_field('footerlogos', 'option'))) :?>
        <div class="sitefooter__bottom__second">
            <?php foreach ($footerlogos as $logoandlink) : ?>
                <?php $logoarray = explode('|', $logoandlink); ?>
                <a href="<?= $logoarray[1]?$logoarray[1]:'#'; ?>">
                    <?php echo svginsert($logoarray[0]); ?>
                </a>
            <?php endforeach; ?>
        </div>
        <?php endif; ?>

    </div>
</footer>