<div class="sitemheaderwrap" data-magellan>
    <aside class="sitemheader">
        <a class="sitemheader__brand" href="{{root}}"><img src="{{root}}assetsapp/img/logo.svg" alt="Viarent - Mobil Applikáció"></a>
        <a href="https://viarent.sk/" class="sitemheader__cta">
            <span>Návrat na: VIARENT.SK</span>
        </a>
<!--         <button class="js-allopen sitemheader__toggler">
            {{ svginsert "burger" }}
            <span>Menü</span>
        </button> -->
    </aside>
</div>
<div class="siteheaderwrap" data-magellan>
    <aside class="siteheader">
        <a class="siteheader__brand" href="{{root}}"><img src="{{root}}assetsapp/img/logo.svg" alt="Viarent - Mobil Applikáció"></a>
        <nav class="siteheader__nav">
            <!-- <ul class="mainmenu show-for-tablet">
                {{> mainmenu }}
            </ul> -->
        </nav>
        <a href="https://viarent.sk/" class="siteheader__cta">
            <span>Návrat na: VIARENT.SK</span>
        </a>
    </aside>
</div>
