<li>
    <a href="{{#unlesspage 'index'}}{{root}}{{lang}}/{{/unlesspage}}#about">
        Čo je rýchly prenájom?
    </a>
</li>
<li>
    <a href="{{#unlesspage 'index'}}{{root}}{{lang}}/{{/unlesspage}}#araink">
        Naše ceny
    </a>
</li>
<li>
    <a href="{{#unlesspage 'index'}}{{root}}{{lang}}/{{/unlesspage}}#gyik">
        FAQ
    </a>
</li>
<li>
    <a href="{{#unlesspage 'index'}}{{root}}{{lang}}/{{/unlesspage}}#viarent">
        O nás
    </a>
</li>
<li>
    <a class="external" href="https://viarent.sk/">
        Pre firmy
    </a>
</li>
