<?php if( have_rows('qaas','option') ): ?>
    <ul class="accordion" data-accordion adata-multi-expand="true" data-allow-all-closed="true" data-magellan>
        <?php  while ( have_rows('qaas','option') ) : the_row();  ?>
        <li class="accordion-item" data-accordion-item>
            <a href="#<?= sanitize_title(get_sub_field('question')) ?>" class="accordion-title"><?php the_sub_field('question') ?></a>
            <div id="<?= sanitize_title(get_sub_field('question')) ?>" class="accordion-content" data-tab-content data-magellan-target="<?= sanitize_title(get_sub_field('question')) ?>">
                <?php the_sub_field('answer') ?>
            </div>
        </li>
        <?php endwhile; ?>
    </ul>
<?php endif; ?>