<div class="appfooterwrap">
    <figure class="appfooterwrap__fig">
        <img src="{{root}}assetsapp/img/content/theguy.png" alt="">
    </figure>
    <div class="appfooter">
        <div class="appfooter__one">
            <p>
            <strong>VIARENT Szigetszentmiklós</strong> | H-2310 Szigetszentmiklós, Leshegy Ipari Park, Leshegy utca 13.<br>
            <strong>VIARENT Budapest</strong> | H-1097 Budapest, Táblás utca 38.<br>
            <strong>VIARENT Budaörs</strong> | H-2040 Budaörs, Sport utca 6.<br>
            Tel.: <a href="tel:+36 1 505 3500">+36 1 505 3500</a> | <a href="mailto:marketing@viarent.com">marketing@viarent.com</a> | <a href="https://viarent.hu/viarent-applikacio-adatvedelmi-iranyelvek/">Adatvédelmi&nbsp;irányelvek</a><br>
            <strong><a href="https://viarent.com/">viarent.com</a> | <a href="https://viarent.hu/">viarent.hu</a></strong>
            </p>
        </div>
        <div class="appfooter__two">
            <h5>Az appot megtalálod</h5>
            <ul class="dlbadges">
                <li><a href="https://play.google.com/store/apps/details?id=hu.viarent.smartrent"><img src="{{root}}assetsapp/img/content/play_store_en.svg" alt=""></a></li>
                <li><a href="https://apps.apple.com/hu/app/viarent/id1635732729"><img src="{{root}}assetsapp/img/content/app_store_en.svg" alt=""></a></li>
            </ul>
        </div>
    </div>


</div>
