<li>
    <a href="{{#unlesspage 'index'}}{{root}}{{lang}}/{{/unlesspage}}#about">
        Mi a gyorsbérlés?
    </a>
</li>
<li>
    <a href="{{#unlesspage 'index'}}{{root}}{{lang}}/{{/unlesspage}}#araink">
        Áraink
    </a>
</li>
<li>
    <a href="{{#unlesspage 'index'}}{{root}}{{lang}}/{{/unlesspage}}#gyik">
        Gyik
    </a>
</li>
<li>
    <a href="{{#unlesspage 'index'}}{{root}}{{lang}}/{{/unlesspage}}#viarent">
        Rólunk
    </a>
</li>
<li>
    <a class="external" href="https://viarent.hu/">
        Vállalatok részére
    </a>
</li>
