<?php global $theaudiencesources; ?>
<form id="reqform" class="viaform reqform" method="post" action="../rentavan/incominglead.php" data-abide novalidate>
    <div class="formstep">    
        <ul class="inputgrid wider">
            <li>
                <h3 class="formstep__title">Személyes adatok</h3>
                <ul class="inputgrid">
                    <li class="full">
                        <label>
                            <input type="text" placeholder="Név*" required name="r_name">
                            <span class="fauxplaceholder">Név*</span>
                        </label>
                    </li>
                    <li>
                        <label>
                            <input type="email" placeholder="E-mail cím*" pattern="email" required name="r_email">
                            <span class="fauxplaceholder">E-mail cím*</span>
                        </label>
                    </li>
                    <li>
                        <label>
                            <input type="text" placeholder="Telefonszám*" required name="r_tel">
                            <span class="fauxplaceholder">Telefonszám*</span>
                        </label>
                    </li>
                </ul>
                <ul class="inputgrid">
                    <li class="third">
                        <label>
                            <input type="text" placeholder="Irsz.*" required name="r_zip">
                            <span class="fauxplaceholder">Irsz.*</span>
                        </label>
                    </li>
                    <li class="third">
                        <label>
                            <input type="text" placeholder="Település*" required name="r_city">
                            <span class="fauxplaceholder">Település*</span>
                        </label>
                    </li>
                    <li class="third">
                        <label>
                            <input type="text" placeholder="Utca, házszám" name="r_address">
                            <span class="fauxplaceholder">Utca, házszám</span>
                        </label>
                    </li>
                </ul>
            </li>
            <li>
                <h3 class="formstep__title">Egyéb üzenet</h3>
                <ul class="inputgrid">
                    <li>
                        <label>
                            <textarea rows="5" placeholder="Egyéb üzenet" name="r_message"></textarea>
                            <span class="fauxplaceholder">Egyéb üzenet</span>
                        </label>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="formstep">
        <h3 class="formstep__title">Válaszd ki a bérelni kívánt járművet!*</h3>
        <?php $titer=0; ?>
        <ul class="checkergrid">
        <?php while ($the_tariffs_1->have_posts()) : $the_tariffs_1->the_post();?>
        <?php setup_postdata( $post ); ?>
            <li>
                <label class="checkboxlabel" for="r_vehicle<?= $titer; ?>">
                    <input id="r_vehicle<?= $titer; ?>" type="checkbox" name="r_vehicle[]" value="<?php the_title(); ?>">
                    <?php the_title(); ?>
                </label>
            </li>
            <?php $titer++; ?>
        <?php endwhile; ?>
        <?php wp_reset_postdata(); ?>
        <?php while ($the_tariffs_2->have_posts()) : $the_tariffs_2->the_post();?>
        <?php setup_postdata( $post ); ?>
            <li>
                <label class="checkboxlabel" for="r_vehicle<?= $titer; ?>">
                    <input id="r_vehicle<?= $titer; ?>" type="checkbox" name="r_vehicle[]" value="<?php the_title(); ?>">
                    <?php the_title(); ?>
                </label>
            </li>
            <?php $titer++; ?>
        <?php endwhile; ?>
        <?php wp_reset_postdata(); ?>
        </ul>
    </div>

    <div class="formstep">
        <h3 class="formstep__title">Honnan hallottál rólunk?</h3>
        <ul class="checkergrid">
            <?php foreach( $theaudiencesources as $key => $topic ) : ?>
                <li>
                    <label class="checkboxlabel" for="r-audiencescore-<?= $key; ?>">
                        <input id="r-audiencescore-<?= $key; ?>" type="radio" name="r_audiencesource" value="<?= __($topic,'viarent'); ?>" >
                        <?= __($topic,'viarent'); ?>
                    </label>
                </li>
            <?php endforeach; ?>
            <li></li>
        </ul>
    </div>

    <div class="formstep">
                <label class="checkboxlabel small" for="r_acceptgdpr">
                    <input id="r_acceptgdpr" type="checkbox" name="r_acceptgdpr" required>
                    Az ajánlatkérő adatlap kitöltésével elfogadom az <a href="https://viarent.hu/adatkezelesi-tajekoztato/" target="_blank">adatkezelési tájékoztatóban</a> foglaltakat.
                </label>
                <label class="checkboxlabel small" for="r_acceptmarketing">
                    <input id="r_acceptmarketing" type="checkbox" name="r_acceptmarketing">
                    Hozzájárulok a kereskedelmi és marketing célú megkeresésekhez
                </label>
    </div>
    <input type="hidden" name="r_human" value="2">
    <div class="formactions">
        <button id="reqformsubmit" class="button secondary large reqformsubmit" type="submit" data-progresstext="Küldés folyamatban" data-sendtext="Ajánlatkérés elküldése">
            Ajánlatkérés elküldése
        </button>
    </div>
    <div id="reqformresult" class="formresults reqformresult"></div>
  </form>