.prtbl {
    // @extend .pagewrap;
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr;
    font-size: .875rem;
    gap: .25em .25em;
    margin:1rem auto 4rem;

    @include breakpoint($bp-large) {
        font-size: 1rem;
        grid-template-columns: 4fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    p {
        margin:0;
        line-height: 1.4;
    }

    &.forapp {
        grid-template-columns:1fr 1fr 1fr;
        @include breakpoint($bp-large) {
            grid-template-columns: 4fr 1fr 1fr 1fr;
        }
    }



}
.prtbl__rowhead {
    position: relative;
    grid-column: 1 / span 6;
    padding:.875em .875em;
    font-weight: $fw-normal;
    text-align: center;
    margin-top:2em;
    line-height: 1.2;
    //align-self: center;
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    background-color: $cl-gray-xlight;
    color: $cl-primary-var;

    justify-content: center;

    .prtbl.forapp & {
        grid-column: 1 / span 3;
        @include breakpoint($bp-large) {
            grid-column: 1 / span 1;
        }
    }


    &:after {
        content:'';
        position: absolute;
        left:0;
        right: 0;
        top:auto;
        bottom:-.2rem;
        height:.4rem;
        background-color: inherit;
    }

    @include breakpoint($bp-large) {
        text-align: left;
        grid-column: 1 / span 1;
        margin:0;
        align-items: flex-start;
        &:after {
            content:'';
            position: absolute;
            left:auto;
            right:-.2rem;
            top:0;
            bottom:0;
            width:.4rem;
            height: auto;
            background-color: inherit;
        }
    }

    // &:hover {
    //     background-color: $cl-white;
    //     & +.prtbl__price {
            
    //         background-color: $cl-primary;
    //         color:$cl-white;
    //         & +.prtbl__price {
    //             background-color: $cl-primary;
    //             color:$cl-white;
    //             & +.prtbl__price {
    //                 background-color: $cl-primary;
    //                 color:$cl-white;
    //             }
    //         }
    //     }
    // }

    svg {
        fill: currentColor;
        width: 4rem;
        height: 2rem;
        @include breakpoint($bp-large) {
            width: 3.25rem;
            height: 1.75rem;
            position: absolute;
            top:calc(50% - 1rem);
            // margin:0;

            + h3 {
                margin-left: 4.25rem;
            }
            + h3 + p {
                margin-left: 4.25rem;
            }

        }
    
    }

    h3 {
        font-size: 1.125em;
        line-height: 1.2;
        margin:0;
        // text-transform: uppercase;
        // @include breakpoint($bp-large) {

        //     margin-left: 2.666em;
        // }
    }


    p {
        margin:0;
        clear: both;
        line-height: 1.4;
        font-size: .875em;

    }
    strong {
        font-weight: $fw-bold;
    }


    &.topheader {
        // display: none;
        padding:.25em .5em;
        font-size: 1.5em;
        font-weight: $fw-black;
        // color:$cl-secondary;
        align-self: center;
        text-transform: uppercase;
        background-color: transparent;

        @include breakpoint($bp-large) {
            display: block;
            grid-row: 1 / span 2;
        }

    }
}

.prtbl__rowfoot {
    padding:.5em 0;
    font-size: 87.5%;
    grid-column: 1 / span 6;

    @include breakpoint($bp-large) {
        padding:.5em 5.125rem;
        text-align: center;
    }


    .prtbl.forapp & {
        grid-column: 1 / span 3;
        @include breakpoint($bp-large) {
            grid-column: 1 / span 4;
        }
    }
}

.prtbl__price {
    position: relative;
    padding:1.125em .25em;
    background-color: $cl-primary-var2;
    color: $cl-black;
    font-weight: $fw-black;
    font-size: 1em;
    line-height: 1.2;
    white-space: nowrap;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    grid-column-end: span 2;
    // grid-column: 1 / span 2;
    @include breakpoint($bp-tablet) {
        grid-column-end: span 1;
    }

    .prtbl.forapp & {
        grid-column-end: span 1;
        cursor: default;
        &:hover {
            background-color: $cl-primary-var2;
            color: initial;
        }
    }

    &:after {
        content: attr(data-action);
        position: absolute;
        bottom:1em;
        font-size: .5666em;
        display: none;
        @include breakpoint($bp-large) {
            bottom:calc(50% - 2.333em);
        }
    }
    &:focus {
        color: $cl-black;
    }
    &:hover {
        background-color: $cl-secondary;
        color: #fff;
    }



    &.topheader {
        background-color: $cl-tertiary;
        // border:2px solid $cl-tertiary;
        color: $cl-white;
        font-weight: $fw-bold;
        // font-style: italic;
        font-size: .9375em;
        padding:.75em .25em;
        text-wrap: auto;

        .prtbl.forapp &:hover {
            background-color: $cl-tertiary;
            color: $cl-white;

        }


        &.merged {
            background-color: $cl-primary-var;
            font-size: 1.333em;
            padding:.5em .25em;
        }

        display: none;

        @include breakpoint($bp-large) {
            display: block;
        }
    }
    &.merged {
        // border:none;
       
        padding:.75em .25em;
        grid-column: 1 / span 6;
        display: block;
        @include breakpoint($bp-large) {
            grid-column: 2 / span 6;
        }
        
        .prtbl.forapp & {
            grid-column: 1 / span 3;
            @include breakpoint($bp-large) {
                grid-column: 2 / span 3;
            }
        }
    }
    small {
        display: block;
        font-weight: $fw-normal;
        font-size: .666em;
    }

    .mobilelabel {
        font-size: .75em;
        //color: #fff;
        @include breakpoint($bp-large) {
            display: none;
        }
    }

}

