#steps {
    counter-reset: stepscounter;
}
.stepsection {
    @extend .pagewrap, .short;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    gap: 2rem 10%;
    counter-increment: stepscounter;
    padding-top: 6rem;
    padding-bottom: 6rem;
    margin-top:-6rem;
    clip-path: polygon(0 6rem, 100% 0, 100% 100%, 0 calc(100% - 6rem));

    @include breakpoint($bp-large) {
        flex-direction: row;

    }

    // &:after {
    //     content: '';
    //     position: absolute;
    //     bottom: 0;
    //     left:calc(50% + 33rem);
    //     width: 10rem;
    //     height: 20rem;
    //     background-image: url(../img/nyilas.svg);
    //     background-repeat: no-repeat;
    //     background-size: contain;

    // }


    &:nth-child(2n+1) {
        clip-path: polygon(0 0, 100% 6rem, 100% calc(100% - 6rem), 0 100%);
        // background-color: white;
    }

    &:nth-child(2n) {
        background-color: $c-lightblue;

        @include breakpoint($bp-large) {
            flex-direction: row-reverse;
        }
        &:after {
            transform: scaleX(-1);
        }
    }

    


}

// .stepsection.oswap {
//     @include breakpoint($bp-large) {
//         flex-direction: row-reverse;
//     }
// }

.stepsection__content {
    width:100%;
    max-width: 35rem;
    

    @include breakpoint($bp-large) {
        flex-basis: 50%;
    }

    h3 {
        text-transform: uppercase;
        display: flex;
        gap:.5em;
        font-size: 1.5rem;
        align-items: center;
        margin:0 0 .25em;
        
        &:before {
            align-self: flex-start;
            content: counter(stepscounter);
            text-indent: 0;
            display: block;
            font-size: 1em;
            color:$c-red;
            min-width:1.5em;
            width: 1.5em;
            height: 1.5em;
            line-height: 1.466em;
            border-radius: 50%;
            text-align: center;
            border:1px solid currentColor;
            font-weight: $fw-black;
            font-feature-settings: "lnum" 1;    
        }

        @include breakpoint($bp-xlarge) {
            margin-left: -2em;
            font-size: 1.75em;
        }
    }
    ul {
        @include niceul;
    }


}

.stepsection__fig {
    width:100%;
    max-width: 35rem;
    @include breakpoint($bp-large) {
        flex-basis: 50%;
    }
    img {

    }
}